.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-link {
  padding: 10px;
  color: white;
  background-color: #990041;
}

.Photo-big {
  width: 50%;
  height: auto;
  padding: 10px; 
  border: 2px; 
  border-color: red;
  margin-top: 15px;
  margin-right: 10px; 
  float: left;
}

.Photo-med {
  width: 40%;
  height: auto;
  padding: 10px; 
  border: 2px; 
  border-color: red;
  margin-top: 0px;
  margin-right: 10px; 
  float: left;
}

.Photo-testing {
  width: 30%;
  height: auto;
  padding: 10px; 
  border: 2px; 
  border-color: red;
  margin-top: 15px;
  margin-right: 10px; 
  float: left;
}

.Icon-small {
  width: 10%;
  height: auto;
  padding: 2px;
  float: right;
}

.text {
  padding-left: 15px;
}

.Menu-bar {
  color: #990041;

}

.Footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
